<div class="container">
    <div class="row">
        <div class="span5">
            <a ui-sref="dashboard.adminDashboard.addProduct" class ="btn btn-default add-button"><i class='fa fa-plus'></i><strong> Add New Product</strong></a>
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product ID</th>
                        <th>Name</th>
                        <th>Unit Price</th>
                        <th>Units In Stock</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in controller.products">

                        <td><img src="{{item.imageUrl}}" class="img-thumbnail" /></td>
                        <td>{{item.id}}</td>
                        <td>
                            <a ui-sref="dashboard.adminDashboard.inventory({id:item.id})">
                                {{item.name}}
                            </a>
                        </td>

                        <td>{{item.unitPrice}}</td>
                        <td>{{item.unitsInStock}}</td>

                        <td><i class="fa fa-edit fa-2x"></i>  <i class="fa fa-remove fa-2x"></i></td>
                        <!--<td>
            <span class="label label-success">Active</span>
        </td>-->
                    </tr>

                    <!--<span class="label label-important">Banned</span>-->
                    <!--<td><span class="label">Inactive</span></td>-->
                    <!--<td><span class="label label-warning">Pending</span></td>-->

                </tbody>
            </table>
        </div>
    </div>
</div>