<div class="container">

    <div class="omb_login">
        <h3 class="omb_authTitle">Register</h3>
        <div class="row omb_row-sm-offset-3 omb_socialButtons">
            <!--<div class="col-xs-1">
                <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
                    <i class="fa fa-facebook visible-xs"></i>
                    <span class="hidden-xs">Facebook</span>
                </a>
            </div>
            <div class="col-xs-1">
                <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
                    <i class="fa fa-twitter visible-xs"></i>
                    <span class="hidden-xs">Twitter</span>
                </a>
            </div>-->
            <div class="col-xs-1">
                <a href="#" class="btn btn-lg btn-block omb_btn-google">
                    <i class="fa fa-google-plus visible-xs"></i>
                    <span class="hidden-xs">Twitter</span>
                </a>
            </div>
        </div>

        <div class="row omb_row-sm-offset-3 omb_loginOr">
            <div class="col-xs-12">
                <hr class="omb_hrOr">
                <span class="omb_spanOr">or</span>
            </div>
        </div>
        <ul>
            <li ng-repeat="message in controller.validationMessages">
                {{message}}
            </li>
        </ul>
        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 ">
                <form ng-submit="controller.register()" class="omb_loginForm" autocomplete="off">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input ng-model="controller.registerUser.email" type="text" class="form-control input-lg" name="username" placeholder="Email address">
                    </div>
                    <span class="help-block"></span>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input ng-model="controller.registerUser.password" type="password" class="form-control input-lg" name="password" placeholder="Password">
                    </div>
                    <span class="help-block"></span>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input ng-model="controller.registerUser.confirmPassword" type="password" class="form-control input-lg" name="password" placeholder="Password">
                    </div>
                    <span class="help-block"></span>
                    <span class="help-block" ng-repeat="error in controller.validationMessages">{{error}}</span>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
