<div class="container">
    <h1>Profile</h1>
    <hr>
    <div class="row">
        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <a ui-sref="dashboard.userDashboard.editProfile({id:controller.user.id})"><input type="button" class="btn btn-warning" value="Edit Profile"></a>

            </div>
        </div>
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                <img src="{{controller.user.avatarUrl}}" class="avatar img-circle" alt="avatar">
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
                This is an <strong>.alert</strong>. Use this to show important messages to the user.
            </div>
            <h3>Personal info</h3>

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-lg-4 control-label">Full Name:</label>
                    <div class="col-lg-8 detail-data">
                        {{controller.user.firstName}} {{controller.user.lastName}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">Username:</label>
                    <div class="col-lg-8 detail-data">
                        {{controller.user.userName}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">Address:</label>
                    <div class="col-lg-8 detail-data">
                        {{controller.user.address}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">City:</label>
                    <div class="col-lg-8 detail-data">
                        {{controller.user.city}}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">State:</label>
                    <div class="col-md-8 detail-data">
                        {{controller.user.state}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Zip Code</label>
                    <div class="col-md-8 detail-data">
                        {{controller.user.zipCode}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Phone Number:</label>
                    <div class="col-md-8 detail-data">
                        {{controller.user.phoneNumber}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Email:</label>
                    <div class="col-md-8 detail-data">
                        {{controller.user.email}}
                    </div>
                </div>

                
            </form>
        </div>
    </div>
</div>

