<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="{{controller.user.avatarUrl}}" class="img-responsive img-circle" width="100" height="100">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{controller.user.firstName}} {{controller.user.lastName}}
                    </div>
                    <div class="profile-usertitle-job">
                        Store Credit: (feature coming soon...)
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <a ui-sref="dashboard.userDashboard.userOverview">
                                <i class="fa fa-home fa-2x"></i>
                                Overview
                            </a>
                        </li>
                        <li>
                            <a ui-sref="dashboard.userDashboard.editProfile">
                                <i class="fa fa-user fa-2x"></i>
                                Profile Settings
                            </a>
                        </li>
                        <li>
                            <a ui-sref="dashboard.userDashboard.myEvents" >
                                <i class="fa fa-calendar fa-2x"></i>
                                My Events
                            </a>
                        </li>
                        <li>
                            <a ui-sref="dashboard.userDashboard.help">
                                <i class="fa fa-question fa-2x"></i>
                                Help
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content" ui-view>
                
            </div>
        </div>
    </div>
</div>
